* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff; }
  * .home-page .main-container {
    max-width: 900px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #201e1f; }
    * .home-page .main-container .section-side {
      flex: 0 1 40%; }
      * .home-page .main-container .section-side .meeting {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        background-color: #2d2b2c;
        margin: 5px;
        padding: 15px;
        font-size: 12px; }
        * .home-page .main-container .section-side .meeting.active {
          background-color: #474972; }
          * .home-page .main-container .section-side .meeting.active input[type=button] {
            background-color: #6364a7;
            border: 1px solid #5e5e9a;
            color: #ffffff; }
        * .home-page .main-container .section-side .meeting .meeting-info {
          min-height: 50px;
          margin-bottom: 20px; }
          * .home-page .main-container .section-side .meeting .meeting-info p {
            font-size: 16px; }
          * .home-page .main-container .section-side .meeting .meeting-info span {
            color: #a2a0a1; }
        * .home-page .main-container .section-side .meeting input[type=button] {
          align-self: flex-end;
          padding: 3px 25px;
          background-color: #2d2b2c;
          border: 1px solid #424041;
          color: #a2a0a1; }
    * .home-page .main-container .section-main {
      flex: 0 1 50%; }
      * .home-page .main-container .section-main .clock {
        text-align: right; }
        * .home-page .main-container .section-main .clock p {
          font-size: 30px; }
        * .home-page .main-container .section-main .clock div {
          color: #a2a0a1;
          font-size: 10px; }
      * .home-page .main-container .section-main .options-section {
        margin: 20px 0; }
        * .home-page .main-container .section-main .options-section .options {
          display: flex;
          flex-flow: row wrap; }
          * .home-page .main-container .section-main .options-section .options .option {
            flex: 1 1 50%;
            text-align: center; }
            * .home-page .main-container .section-main .options-section .options .option .material-icons {
              border: 1px solid #424041;
              border-radius: 50px;
              padding: 20px; }
            * .home-page .main-container .section-main .options-section .options .option div {
              color: #a2a0a1;
              font-size: 12px;
              margin: 10px 0 20px 0; }
      * .home-page .main-container .section-main .volume-settings {
        text-align: right; }
        * .home-page .main-container .section-main .volume-settings i {
          padding: 0 10px; }
  * .meeting-page .main-container {
    max-width: 900px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #201e1f; }
    * .meeting-page .main-container .section-side {
      flex: 0 1 30%; }
      * .meeting-page .main-container .section-side .meeting.active {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        background-color: #474972;
        font-size: 12px;
        height: 100%;
        padding: 0 20px; }
        * .meeting-page .main-container .section-side .meeting.active .clock {
          font-size: 30px; }
        * .meeting-page .main-container .section-side .meeting.active .meeting-info {
          margin-bottom: 150px; }
          * .meeting-page .main-container .section-side .meeting.active .meeting-info p {
            font-size: 16px; }
          * .meeting-page .main-container .section-side .meeting.active .meeting-info span {
            color: #a2a0a1; }
    * .meeting-page .main-container .section-main {
      flex: 0 1 70%;
      display: flex;
      align-items: stretch;
      flex-direction: column; }
      * .meeting-page .main-container .section-main .navigation {
        display: flex;
        flex-flow: row nowrap;
        margin: 30px 20px; }
        * .meeting-page .main-container .section-main .navigation .nav-item {
          margin: 0 15px;
          border-bottom: 1px solid #a2a0a1; }
          * .meeting-page .main-container .section-main .navigation .nav-item.selected p {
            color: #ffffff; }
          * .meeting-page .main-container .section-main .navigation .nav-item p {
            color: #a2a0a1; }
      * .meeting-page .main-container .section-main .container {
        display: flex;
        justify-content: space-between;
        margin: 0 35px;
        flex: 0 0 70%; }
        * .meeting-page .main-container .section-main .container .participants .title {
          color: #a2a0a1;
          font-size: 12px;
          margin-bottom: 5px; }
        * .meeting-page .main-container .section-main .container .participants .participant {
          display: flex;
          align-items: center;
          padding: 5px 0; }
          * .meeting-page .main-container .section-main .container .participants .participant .material-icons {
            background-color: grey;
            border-radius: 50%;
            padding: 5px; }
          * .meeting-page .main-container .section-main .container .participants .participant div {
            margin-left: 20px;
            font-size: 14px; }
        * .meeting-page .main-container .section-main .container .actions .title {
          color: #a2a0a1;
          font-size: 12px;
          margin-bottom: 5px; }
        * .meeting-page .main-container .section-main .container .actions button {
          padding: 3px 25px;
          background-color: #2d2b2c;
          border: 1px solid #424041;
          color: #a2a0a1;
          display: flex;
          align-items: center;
          margin: 5px 0; }
          * .meeting-page .main-container .section-main .container .actions button .material-icons {
            font-size: 18px;
            margin: 5px; }
      * .meeting-page .main-container .section-main .call-section {
        display: flex;
        justify-content: space-around;
        align-items: baseline; }
        * .meeting-page .main-container .section-main .call-section .layout-settings button {
          padding: 3px 25px;
          background-color: #2d2b2c;
          border: 1px solid #424041;
          color: #a2a0a1;
          display: flex;
          align-items: center;
          margin: 5px 0; }
        * .meeting-page .main-container .section-main .call-section .call-settings .material-icons {
          background-color: #a2a0a1;
          border-radius: 50%;
          padding: 7px;
          margin: 0 3px; }
          * .meeting-page .main-container .section-main .call-section .call-settings .material-icons.call-end {
            background-color: #9b2e41; }
