// Background colors
$theme-dark: #201e1f;
$bg-meeting-active: #474972;
$bg-meeting: #2d2b2c;

// Text colors
$active-color: #ffffff;
$default-color: #a2a0a1;

// Button colors
$btn-active-bg: #6364a7;
$btn-active-border: 1px solid #5e5e9a;
$btn-base-bg: #2d2b2c;
$btn-base-border: 1px solid #424041;

